@use "variables" as v;

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1 rem = 10px */
}

body {
  font-family: v.$font-principal;
  background-color: v.$bg-color;
  color: v.$letter-color;
}
